$urlBackground: "https://sites.ewu.edu/dss/files/2018/10/scott-webb-282338-unsplash.jpg";
$unintensiveWhite: #fff;
$backgroundColor: $unintensiveWhite;
$userButtonColor: #17a2b8;
$primaryColor: crimson;
$darkerPrimaryColor: #bb1133;