body
{
    background-color:sandybrown;
}
#tblUsers{
    background:burlywood;
    border-color:black;
    border-width:3px;
    border-style:solid;
	text-align:center;
	font-size:small;
}
th{
    padding-left:5px;
    padding-right:5px;
	margin:auto;
	max-width:65px;
	word-wrap:break-word;
}
input[type=button] {
    border-style:solid;
    border-color:black;
    background-color: brown;
    margin:2px;
}
#divUsers{
    padding-top:30px;
    padding-bottom:30px;
}

tr:nth-child(even){background:burlywood;}
tr:nth-child(odd){background:brown}

#divAdd{
    background-color:burlywood;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:5px;
    border-color:black;
    border-width:3px;
    border-style:solid;
    width:500px;
}
.txtEditField{
    display:flex;
    border-color:black;
    border-width:thin;
}