/* ---------------------------------------------------
    FILTER CLASS DISPLAYS
----------------------------------------------------- */
.gray-style-filter{
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter : 'gray';
    -moz-filter: grayscale(100%);
}

.inverse-style-filter{
    -webkit-filter : invert(.8);
    filter : invert(.8);
}