/* ---------------------------------------------------
    MEDIA SIZING
----------------------------------------------------- */
// @media (max-width: 710px){
//   #user-menu{
//   }
// }

@media (max-width: 426px){
  .col-xs-3 button span{
    font-size: 13px;
  }

  #content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 70px;
    min-height: 100vh;
    transition: all 0.3s;
    right: 0;
  }

  #rightSidebar,
  #leftSidebar,
  #centerSidebar{
    height: 100%;
    width:100%;
    right:100%
  }

  #rightSidebar.active,
  #leftSidebar.active,
  #centerSidebar.active {
    left:0;
  }
  ul{
    margin-right: 20px;
  }
  #centerDismiss, #leftDismiss, #rightDismiss{
    font-size:50px;
  }
  ul.CTAs {
      padding: 20px;
      padding-left: 40px;
  }
  table{
    width: 100%;
    margin: 0px;
  }

  #user-menu{
    top: 0px;
    width: -webkit-fill-available;
    position: fixed;
    left: 0%;
    transform: translate(0%);
    color:$unintensiveWhite;
    background:$userButtonColor;
  }
}


@media (max-width: 375px){
  .col-xs-3 button{
    font-size: 12px;
  }

  #content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 70px;
    min-height: 100vh;
    transition: all 0.3s;
    right: 0;
    padding-top: 170px;
  }

  #rightSidebar, 
  #leftSidebar,
  #centerSidebar{
    height: 100%;
    width:100%;
    right:100%
  }

  #rightSidebar.active,
  #leftSidebar.active,
  #centerSidebar.active {
    left: 0;
  }

  ul{
    margin-right: 20px;
  }

  #dismiss{
    font-size:50px;
  }

  ul.CTAs {
      padding: 20px;
      padding-left: 40px;
  }

  table{
    width: 100%;
    margin: 0px;
  }

  #user-menu{
    color:$unintensiveWhite;
    top: 0px;
    width: -webkit-fill-available;
    position: fixed;
    left: 0%;
    transform: translate(0%);
    background:$userButtonColor;
  }
}