@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

button.dropdown-button:not(.collapsed)[aria-expanded="true"]{
  background:white;
  color:red;
}

html{
  background-color:white;
}

ul ul a{
    background:rgb(188, 20, 63);
    }
    

body {
    font-family: 'Poppins', sans-serif;
    font-family: Tahoma;
    overflow-x:hidden;
    background-image: url(https://sites.ewu.edu/dss/files/2018/10/scott-webb-282338-unsplash.jpg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #101010;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background: crimson!important;
    margin-bottom:30px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.list-unstyled, h3 {
  text-align:center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#leftSidebar, #rightSidebar, #centerSidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: crimson;
    color: #fff;
    transition: all 0.3s;
    overflow-x: hidden !important;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: overlay;
}

#leftSidebar.active, 
#rightSidebar.active,
#centerSidebar.active {
    right: 0;
}

#dismiss {
    width: 100%;
    text-align: center;
    background: #17a2b8;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3ï¿¼    s;
    transition: all 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
    position: fixed;
}

#leftSidebar .leftSidebar-header,
#rightSidebar .rightSidebar-header,
#centerSidebar .centerSidebar-header
 {
    padding: 20px;
    background: crimson;
}

#leftSidebar ul.components,
#rightSidebar ul.components,
#centerSidebar .centerSidebar-header{
    padding: 20px 0;
    border-bottom: 1px crimson;
}

#leftSidebar ul p,
#rightSidebar ul p,
#centerSidebar ul p{
    color: #fff;
    padding: 10px;
}

#leftSidebar ul li a,
#rightSidebar ul li a,
#centerSidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#leftSidebar ul li a:hover,
#rightSidebar ul li a:hover,
#centerSidebar ul li a:hover{
    color: crimson;
    background: #fff;
}

#leftSidebar ul li.active>a,
#rightSidebar ul li.active>a,
#centerSidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #bb1133;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    background: rgb(188, 20, 63);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: red;
}

a.menu-button,
a.menu-button:hover {
  background: #fff;
  color: red;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    right: 0;
    padding-top: 220px;
}

/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

#utilityBar{
  width:100%;
  position:fixed;
}

.col-xs-4 button span{
  font-size: 32px;
}

@media (max-width: 426px){
  .col-xs-4 button span{
    font-size: 20px;
  }

  #content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    right: 0;
    padding-top: 170px;
}

  #rightSidebar,
  #leftSidebar,
  #centerSidebar{
    height: 100%;
    width:100%;
    right:100%
  }

  #rightSidebar.active,
  #leftSidebar.active,
  #centerSidebar.active {
    left:0;
  }
  ul{
    margin-right: 20px;
  }
  #centerDismiss, #leftDismiss, #rightDismiss{
    font-size:50px;
  }
ul.CTAs {
    padding: 20px;
    padding-left: 40px;
}
table{
  width: 100%;
  margin: 0px;
}
}


@media (max-width: 320px){
  .col-xs-4 button span{
    font-size: 16px;
  }

  #content {
    width: 100%;
    padding: 0px 20px 20px 20px;
    margin-top: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    right: 0;
    padding-top: 170px;
}

  #rightSidebar, 
  #leftSidebar,
  #centerSidebar{
    height: 100%;
    width:100%;
    right:100%
  }

  #rightSidebar.active,
  #leftSidebar.active,
  #centerSidebar.active {
    left: 0;
  }

  ul{
    margin-right: 20px;
  }
  #dismiss{
    font-size:50px;
  }
ul.CTAs {
    padding: 20px;
    padding-left: 40px;
}
table{
  width: 100%;
  margin: 0px;
}
}


/* ---------------------------------------------------
    MISC
----------------------------------------------------- */


.close-menu{
  background: #17a2b8;
  color: #fff;
  border-radius:0;
  font-size:0.875;
  word-wrap: break-word;
  width: 120px; /*only for IE8*/
  max-width: 100%;
  width:100%;
  border-width: 0px;
}

.close-menu:hover {
  background: #fff;
  color: red;
}

.layout-button{
  background: #17a2b8;
  border:none;
  color: #fff;
  margin-bottom:20px;
  width: 80%;
  margin-left: 10%;
}

.layout-button:hover{
  background:#fff;
  color:red;
}

.col-lg-12{
  text-align: center;
  position: fixed;
}

.col-lg-12 .row{
  display: inline-flex;
}

.mCSB_container{
  height:100%;
}

#innerContent{
  background: white;
  padding: 20px;
  height: -webkit-fill-available;
}

h2{
  text-align:center;
}

.fa-arrow-right, .fa-arrow-left{
  font-size: 52px;
}

.fl-page-footer-text{
  text-align: center;
}

#symposium-title{
  font-family: unset;
  font-size: 22px;
  font-weight: bold;
}

#conference-table{
  margin-bottom:20px;
}

#conference-table table, #schedule-table table{
  margin: 0px auto;
}
#conference-table, #schedule-table{
  text-align: center;
}

.list-unstyled{
  margin-right: 0px;
  font-size: 24px;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.dropdown-button{
  padding: 10px;
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  background: rgb(188, 20, 63);
  border: none;
  text-align: center;
  width:100%;
}

.dropdown-button:hover{
  background:white;
  color:crimson;
  transition: all 0.3s;
}

/*.overlay.active, .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .6;
  filter: alpha(opacity=60);
}*/

svg:not(:root).svg-inline--fa {
  overflow: visible;
  width: .75em;
}

.button-fix{
  display:inline-block;
  margin-left:0px;
  width:90%;
  margin-top:20px;
}

#font-settings-li button{
  width:auto;
  margin-left:0px;
}

.no-scroll{
  overflow-y: hidden
}